#toy-header {
  display: flex;
  justify-content: center;
  background: rgb(29, 73, 90);
  opacity: 0.7;
  height: 100px;
  padding: 10px;
}

#toy-header img {
  height: 7rem;
  width: auto;
}

#toy-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
