body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: red;
}

img {
  width: 100%;
}

p {
  font-size: 24px;
}

/* *Small Devices */
@media (max-width: 500px) {
  body {
    background: linear-gradient(45deg, black, red);
  }
  h1:nth-child(1) {
    display: block;
  }
}

/* Mobile Device */
@media (min-width: 501px) and (max-width: 650px) {
  body {
    background: linear-gradient(45deg, rgb(101, 248, 16), red);
  }
  h1:nth-child(2) {
    display: block;
  }
}

/* Tablet Devices */

@media (min-width: 651px) and (max-width: 800px) {
  body {
    background: linear-gradient(45deg, rgb(101, 248, 16), rgb(0, 102, 255));
  }
  h1:nth-child(3) {
    display: block;
  }
}

/* Laptop Devices */

@media (min-width: 801px) and (max-width: 1000px) {
  body {
    background: linear-gradient(45deg, rgb(101, 248, 16), rgb(223, 236, 99));
  }
  h1:nth-child(4) {
    display: block;
  }
}

/* X-large */
@media (min-width: 1001px) {
  body {
    background: linear-gradient(45deg, rgb(101, 248, 16), rgb(223, 236, 99));
  }
  h1:nth-child(5) {
    display: block;
  }
}
