body {
  color: rgb(10, 8, 20);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.heading-container {
  text-align: center;
  margin-top: 20px;
  color: rgb(10, 4, 4);
  background: linear-gradient(to right, #a465f6 0%, #fda085 51%, #10f742 100%);
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1em;
  padding: 0.5em;
  margin: 0 auto;
  background: linear-gradient(to right, #a465f6 0%, #ff693f 51%, #10f742 100%);
}

.container {
  background-color: #fff023;
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  gap: 1em;
}
